<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Imbroglio Inc.</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="#">Imbroglio Inc.</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#support">Support</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    
    <div class="container my-5">
      <h1>Complaint received</h1>
      <h2>Dear {{ name|safe }},</h2>
      <p>Thank you for your feedback. Ticket {{ case_id }} has been registered. </p>
      <p>A support assistant has logged on to <a href="/tickets/{{ case_id }}.png">review your case</a> now, and will contact you at {{ email|safe }}.</p>
    </div>
  </body>
</html>