<!DOCTYPE html>
<html>
    <head>
        <title>Part one!</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}">
        <noscript>
            <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}" />
        </noscript>
    </head>
<body>
    <h2>Part one</h2>
    <p>d:ctf{part-one-the-admin-had}</p>
</body>
</html>