<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>The Browser That Cannot Possibly Go Wrong</title>
  </head>
  <body>
    <center>
        <h1>The Browser That Cannot Possibly Go Wrong</h1>
        <p>Online safety today is hard. This browser will visit the web page for you, 
            and give you a screenshot back, ensuring you are never at risk of a dreadful virus.</p>
        <form action="/browse" method="post">
            <input name="URL" value="https://dips.no"/>
            <button>Browse</button>
        </form>
    </center>
  </body>
</html>